@{
    ViewData["Title"] = "Intro";
}

<div class="text-center">
    <h3>Sunmeet Singh</h3>

    @section Name{
    <p>A web application, in today's interconnected digital world, has become an indispensable tool that seamlessly bridges the gap between users and online services. By leveraging the power of the internet, web applications provide unparalleled accessibility and convenience to users across various devices and platforms. These dynamic applications run directly within web browsers, eliminating the need for tedious installations and updates. </p>
}
</div>
